body {
  background: #111;
  color: #fff;
}

header {
  background: #333;
  color: #ff9100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav {
  background: #444;
  text-align: left;
  padding-left: 20px;
}

nav a {
  color: #ff9100;
}

main {
  padding: 30px;
}

section {
  margin-bottom: 20px;
}

footer {
  background: #333;
}
